@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.wrapper{
    width: 1170px;
    margin: auto;

}
body{
    background: linear-gradient(#fffdfd00,rgba(44, 102, 37, 0.315)),
    url("images/OIP.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;

}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 20px;
    padding-right: 10px;
}
.nav-area li{
    display: inline-block;
}

.nav-area li a{
    color:rgb(31, 7, 253);
    text-decoration: none;
    padding: 5px 20px;
    font-size: 16px;
}
.nav-area li a:hover{
    background:#f6faf580;
    color: rgb(71, 69, 185);
}

.logo img{
    width: 150px;
    float: left;
    padding-left: 2%;
    padding-top: 2%;
    filter: invert(1);
}

.welcome-text{
    position: absolute;
    margin: 20% 30%;
    text-align: center;

}

.welcome-text h1{
    text-align: center;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 60px;
}

.welcome-text a:hover{
    background: #fff;
    color: #333;
}
.welcome-text p{
    color: #fff;
}